#landing{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5050ff;
  background-image: url("../img/sunboi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing h1{
  color: #dedfeb;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.load{
  opacity: 1;
}


