#landing-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5050ff;
}
#landing-page h1{
  opacity: 0;
  transition: 3s;
  -webkit-transition: opacity 2s ease-in;
}

#landing-page h1.load{
  opacity: 1;
}


